@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/ptsans-400.woff2) format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/ptsans-700.woff2) format("woff2");
    font-display: swap;
}
:root {
    --coolLight: #83B3D3;
    --black: #000000;
    --dark: #333333;
    --gray: #e5e5e5;
    --light: #f2f2f2;
    --white: #ffffff;
    --warmLight: #756257;
    --neutralLight: #7DB54F;
    --coolLight_20: hsl(204 48% 67% / 0.2);
    --warmDark: #615048;
    --neutralDark: #6C9E42;
    --coolDark: #68A2CA;
    --coolDark_12: hsl(204 48% 67% / 0.12);
    --error: #FF5757;
    --warning: #FD922E;
    --success: #7DB550;
  }
body {
    margin:0;
    padding:0;
    background-color: var(--gray);
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    line-height: 26px;
}
.container {
    box-shadow:0 4px 4px 0 rgba(0,0,0,0.25);
}
.page-header {
    box-shadow:0 4px 4px 0 rgba(0,0,0,0.25);
    position:relative;
    padding:0 72px;
    z-index:1;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.container {
    display:grid;
    grid-template-rows: min-content 1fr min-content;
    min-height: 100vh;
    width:1200px;
    margin:0 auto;
    background-color: var(--white);
}
.navigation {
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content:space-between;
}
.navigation-list {
    display:flex;
    padding:0;
    flex-wrap:wrap;
}
.navigation-button {
    display:flex;
    align-items:center;
    justify-content:center;
}
.navigation-user {
    align-items:center;
}
.button-wish{
    margin-left:33px;
}
.navigation-link {
    padding:20px 15px;
    display:block;
}
.sedona-logo {
    position:absolute;
    top:0;
    left:50%;
    transform:translateX(-50%);
}
.search-button {
    background-image:url(../img/search.svg);
    background-repeat:no-repeat;
    background-position: center;
}
.search-button:hover {
    background-image:url(../img/search-hover.svg);
    background-repeat:no-repeat;
    background-position: center;
}
.favourites-button {
    background-image:url(../img/favourites.svg);
    background-repeat:no-repeat;
    background-position: center;
}
.favourites-button:hover {
    background-image:url(../img/favourites-hover.svg);
    background-repeat:no-repeat;
    background-position: center;
}
.favourites-green-circle {
    position:absolute;
    top:1px;
    left:43px;
}
.favourites-green-cirle::after {
    content:"12";
}
.number-of-favourites {
    font-size:10px;
    position:absolute;
    z-index:3;
    font-weight:400;
}
p,h1,h2 {
    padding:0;
    margin:0;
}
a {
    text-decoration:none;
    color: black;
}
ul,ol {
    list-style-type: none;
    padding:0;
    margin:0;
}
li {
    padding:0;
    margin:0;
}
.triangles {
    position:absolute;
    top:493px;
}
.button {
    font-family: "PT Sans", sans-serif;
    border:none;
    font-weight: 700;
    text-transform: uppercase;
    font-size:16px;
    cursor:pointer;
    color:var(--white);
    background-color:transparent;
    border:none;
}
.button-wish {
    padding:9px 34px;
    border-radius:4px;
    background-color:var(--warmLight);
}
.button-wish:hover {
    background-color:var(--warmDark);
}
.button-wish:focus {
    background-color:var(--warmDark);
    border:3px solid var(--coolLight);
    border-radius:4px;
}
.button-wish:active {
    background-color:var(--warmDark);
    color:rgba(255,255,255,0.3);
}
.search-button,
.favourites-button {
    background-color:transparent;
    padding:0;
    width:37px;
    height:37px;
}
.search-button {
    cursor:pointer;
}
.favourites-button {
    cursor:pointer;
    margin-left:21px;
}
.navigation a{
    color:var(--black);
}
.navigation a:hover{
    color:var(--warmLight);
}
.navigation a:focus {
    color: var(--warmLight);
    outline: 3px solid var(--coolLight);
    border-radius: 10px;
    padding:3px;
}
.navigation a:active {
    color: var(--warmLight);
    opacity: 30%;
}
.navigation-list {
    text-align: center;
}
.navigation-user-item{
    position:relative;
}
.popover {
    width:351px; 
    min-height:60px;
    font-size:16px;
    color:var(--black);
    position:absolute;
    padding:25px 25px 0 25px;
    z-index:10;
    top:45px;
    left:-175.5px;
    background-color:var(--white);
    border:1px solid var(--gray);
    outline-offset:-1px;
    border-radius:20px;
    box-sizing: content-box;
}
.popover-close-button {
    width:37px;
    height:37px;
    position:absolute;
    top:-46px;
    border:none;
    background-color:transparent;
    cursor:pointer;
}
.favourites-item {
    display:flex;
    margin-bottom:25px;
}
.favourites-item-info {
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    margin-left:17px;
    width:159px;
}
.favourites-item-title {
    font-size:18px;
    font-weight:700;
    padding:0;
}
.favourites-item-type {
    font-size:16px;
    font-weight:400;
    padding:0;
}
.delete-icon {
    margin-left:110px;
    margin-top:7px;
    opacity:20%;
    cursor:pointer;
}
.intro-heading {
    background-image: url(../img/index-background.jpg);
    background-repeat: no-repeat;
    background-size: 1200 485;
    padding-top:51px;
    padding-bottom:83px;
}
.intro-heading-title-text{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding-top:63px;
    padding-bottom:79px;
    padding-left:240px;
    padding-right:240px;
}
.intro-heading-img-logo {
    display:block;
    margin:0 auto;
}
.intro-heading-title {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 36px;
    margin-bottom:23px;
    text-align:center;
}
.intro-heading-text {
    font-size:22px;
}
.reasons-picture {
    grid-column:span 2;
}
.reasons-item-wrap {
    background-color: var(--coolDark);
    color: var(--white);
    width:400px;
    height:384px;
    display:flex;
    flex-direction:column;
    justify-content:center;
}
.reasons-item {
    margin:0;
    padding:0;
}
.reasons-list {
    margin:0;
    padding:0;
    text-align:center;
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows:384px 384px 384px;
    gap:0px;
}
.reasons-item-third-fifth,.reasons-item-fourth {
    width:400px;
    height:384px;
}
.reasons-title {
    font-size:24px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 28px;
    margin:0;
    padding-bottom:25px;
}
.reasons-number {
    font-size:18px;
    line-height: 21px;
}
.reasons-description-first-second {
    font-size: 18px;
    line-height:21px;
    margin-top: 26px;
    width: 220px;
    align-self: center;
}
.reasons-description {
    font-size:18px;
    width:250px;
    text-align:center;
    align-self:center;
    margin-top: 26px;
    line-height:21px;
}
.reasons-item-third-fifth-fourth-wrap {
    display:flex;
    flex-direction:column;
    justify-content:center;
}
.subreasons-list {
    display:flex;
    text-align:center;
    margin:0;
    padding:0;
}
.subreason-1 {
    position:relative;
    left:162.65px;
    margin-bottom:23px;
}
.subreason-2 {
    position:relative;
    left:163.095px;
    margin-bottom:23px;
}
.subreason-3 {
    position:relative;
    left:168px;
    margin-bottom:23px;
}
.subreasons-item-first-third {
    background-color: var(--coolDark_12);
}
.subreasons-item-first-third, .subreasons-item-wrap {
    width:400px;
    height:384px;
}
.subreasons-item-wrap {
    display:flex;
    flex-direction:column;
    justify-content:center;
}
.subreasons-item {
    background-color: var(--white);
}
.subreasons-title {
    font-size: 24px;
    line-height:28px;
    font-weight:700;
    text-transform:uppercase;
    margin:0;
    margin-bottom:25px;
}
.subreasons-description {
    font-size: 18px;
    line-height: 21px;
    width:250px;
    text-align:center;
    align-self:center;
}
.reasons-item-third-fifth {
    background-color: var(--coolDark_12);
}
.reasons-item-fourth {
    background-color: var(--coolLight_20);
}
.hotel-search {
    display:flex;
    flex-direction:column;
    justify-content:center;
    margin:0 auto;
}
.hotel-search-text {
    padding:91px 240px;
}
.hotel-search-question {
    font-size: 30px;
    text-transform: uppercase;
    line-height: 36px;
    font-weight: 700;
    margin:0;
    text-align:center;
    height:50px;
}
.hotel-search-suggestions {
    font-size:22px;
    line-height:26px;
    text-align:center;
    margin-top:15px;
}
.button-wrap {
    text-align:center;
    margin-top:73px;
}
.search-button-wrap {
    padding:17px 150px;
    border-radius:10px;
    background-color:var(--warmLight);
}
.mailing {
    background-image: url(../img/mailing.jpg);
    background-repeat: no-repeat;
    color: white;
    padding:94px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.mailing-form {
    margin:0;
    display:flex;
}
.mailing-catalog {
    padding:94px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.mailing-title {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 36px;
    margin-bottom:15px;
}
.mailing-description {
    font-size:22px;
    line-height:26px;
    margin-bottom:26px;
    width:467px;
    text-align:center;
}
.mailing-button {
    background-color:var(--coolDark);
    padding:16px;
    border-bottom-right-radius:10px;
    border-top-right-radius:10px;
    margin:0;
}
.email {
    font-family: "PT Sans", sans-serif;
    padding:16px;
    width:600px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border:none;
    background-color:var(--light);
}
.filters {
    background: var(--coolDark) url(../img/bg_catalog_1.jpg) no-repeat;
    background-size: 1200px 408px;
    color: var(--white);
}
.filters-header-title {
    font-size: 60px;
    font-weight: 700;
    padding:0;
    margin:0;
    padding-left:71px;
    padding-top:55px;
    padding-right:601px;
}
.breadcrumbs {
    display:flex;
    margin:0;
    padding:0;
    padding-left:71px;
    padding-top:20px;
}
.main-page-link {
    margin-right:10px;
}
.arrow {
    margin-right:10px;
}
.breadcrumbs-item .visually-hidden {
    color: var(--white);
    font-size:16px;
    line-height:auto;
} 
.breadcrumbs-item a {
    color: var(--white);
    font-size:16px;
    line-height:auto;   
}
.filters-block {
    display:flex;
    padding-top:40px;
    padding-bottom:80px;
}
.infrastructure-block, .housing-type-block, .cost-block, .seaech-actions {
    display:flex;
    flex-direction:column;
}
.check-box {
    height:20px;
    width:20px;
    border-radius:4px;
    position:absolute;
    background-image:url(../img/checkbox.svg);
    cursor:pointer;
}
.check-box:hover {
    background-image:url(../img/checkbox-hover.svg);
}
.check-box:focus {
    background-image:url(../img/checkbox-focus.svg);
}
.check-label {
    margin-left:39px;
    position:relative;
}
.check-label::before {
    content:"";
    height:20px;
    width:20px;
    border-radius:4px;
    position:absolute;
    transform:translateY(-50%);
    top:50%;
    left:0;
    cursor:pointer;
}
.infrastructure-title, .housing-type-title, .cost-title {
    font-size:20px;
    font-weight:700;
}
.infrastructure-block {
    padding-left:71px;
}
.housing-type-block {
    padding-left:67px;
}
.cost-block {
    padding-left:167px;
}
.search-actions {
    padding-left:81px;
    padding-top:131px;
}
label {
    font-size:18px;
}
.swimmingpool, .hotel {
    margin-top:30px;
    margin-bottom:13px;
}
.radio-hotel-type, .checkbox {
    cursor: pointer;
}
.parking, .motel {
    margin-bottom:13px;
}
.range {
    margin-top:34px;
    display:flex;
    flex-direction:column;
}
.range-wrapper-inputs {
    display:flex;
}
.min,.max {
    margin:0;
    background:transparent;
    border:2px solid var(--white);
    width:141.5px;
}
input[placeholder="от"],input[placeholder="до"] {
    text-align:right;
    font-size:18px;
    color:rgba(255,255,255,0.3)
}
input[placeholder="от"] {
    padding-right:14px;
}
input[placeholder="до"] {
    padding-right:17px;
}
.min {
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
    padding-top:13px;
    padding-bottom:13px;
}
.max {
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
    border-left:none;
    padding-top:13px;
    padding-bottom:13px;
}
.range-scale {
    position:relative;
    height:4px;
    background-color:rgba(255,255,255,0.3);
    margin-top:32px;
}
.range-bar {
    position:absolute;
    height:4px;
    background-color:var(--white);
    width:227px;
}
.price-toggle {
    background-color:var(--white);
    border:none;
    border-radius:5px;
    width:20px;
    height:20px;
    position:relative;
    top:-16px;
}
.price-toggle:hover {
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.25);
}
.price-toggle:active {
    border:3px solid var(--coolLight);
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.25);
}
.price-toggle::focus {
    border:2px solid var(--coolLight);
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.25);
}
.max-toggle {
    left:190px;
}
.search-actions-buttons {
    display:flex;
    flex-direction:column;
    position:absolute;
    top:304px;
}
.button-apply {
    margin-bottom:20px;
    padding:14px 35px;
    border-radius:4px;
    background-color:var(--coolLight);
}
.button-reset {
    background-color: transparent;
    text-transform:none;
    font-weight:400;
}
.results {
    display:flex;
    margin: 44px 72px;
}
.sorting-form {
    padding:0;
    margin-left:100px;
    width:287px;
}
.sorting {
    font-family: "PT Sans",sans-serif;
    padding-left:19px;
    padding-top:13px;
    padding-bottom:13px;
    border:1px solid var(--gray);
    align-self:center;
    width:287px;
    border-radius:4px;
    cursor:pointer;
}
.cheap,.popular,.expensive {
    cursor:pointer;
}
.results-view-list {
    display:flex;
    margin-left:81px;
}
.view-button {
    border:2px solid var(--gray);
    border-radius:4px;
    padding:16px 16px;
    box-shadow:0 4px 4px 0 rgba(0,0,0,0.25);
    margin-left:8px;
}
.button-list {
    border:2px solid var(--black);
}
.results-view-item {
    margin-right:8px;
}
.count-results {
    color:var(--black);
    font-size:30px;
    line-height:auto;
    font-weight:700;
    text-transform:uppercase;
    align-self:center;
    width:350px;
    padding:0;
}
.hotels-item {
    display:flex;
    border-top:1px solid var(--gray);
    padding:28px 0;
    margin:0 72px;
}
.hotels-item:nth-of-type(4) {
    border-bottom:1px solid var(--gray);
    padding-bottom:30px;
}
.hotels-item-info {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    width:325px;
}
.hotels-item-info-column {
    display:flex;
    flex-direction:column;
}
.hotel-type-cost {
    display:flex;
}
.hotel-name {
    font-size:24px;
    font-weight:700;
    line-height:auto;
    width:322px;
}
.hotel-image {
    margin-right:36px;
}
.hotel-type,.hotel-cost {
    font-size:18px;
    line-height:auto;
}
.hotel-cost-type {
    position:relative;
    left:84px;
}
.motel-cost-type {
    position:relative;
    left:106px;
}
.apartment-cost-type {
    position:relative;
    left:58px;
}
.favourites-button-catalog {
    margin-left:8px;
    padding:9px 30px;
    border-radius:4px;
    background-color:var(--coolLight);
}
.in-favourites-button {
    margin-left:8px;
    padding:9px 28px;
    border-radius:4px;
    background-color:var(--neutralLight);
}
.details-button {
    padding:9px 32px;
    border-radius:4px;
    background-color:var(--warmLight);
}
.rating {
    margin-left:auto;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}
.rating-stars {
    align-self:center;
}
.rating-score {
    color:var(--dark);
    font-size:16px;
    text-transform:uppercase;
    background-color:var(--light);
    width:95px;
    padding:7px 32px;
    border-radius:4px;
}
.number-products-form {
    width:160px;
}
.number-products {
    font-family: "PT Sans", sans-serif;
    display:flex;
    margin-left:301px
}
.number-of-products {
    width:175px;
    align-self:center;
    font-size:18px;
}
.number-products-select {
    width:160px;
    border:2px solid var(--gray);
    border-radius:4px;
    margin-left:51px;
    padding-left:17px;
}
.load-more {
    display:flex;
    justify-content:center;
    margin:auto;
    width:1056px;
    border-bottom:1px solid var(--gray);
}
.load-more-button {
    width:625px;
    padding:15px 240px;
    background-color:var(--coolLight);
    border-radius:4px;
    margin:31px 215.5px;
}
.pagination {
    display:flex;
    justify-content:space-between;
    width:369px;
}
.pages-hotels {
    display:flex;
    justify-content:space-between;
    width:1056px;
    margin:31px 72px;
}
.current-page-link {
    color:var(--black);
}
.page-link {
    color:var(--white);
}
.button-link {
    border-radius:4px;
    padding:0;
    padding:15px 22px;
    margin:0;
    background-color:var(--coolLight);
    border:none;
    margin-right:8px;
}
.current-page {
    padding:15px 22px;
    border-radius:4px;
    background-color:var(--light);
    color:var(--black);
    margin-right:8px;
}
li.current-page, li.page {
    margin:0;
}
.all-pages {
    display:flex;
    margin-right:301px;
}
.page-footer {
    display:flex;
    padding:40px 72px;
    justify-content:center;
}
.social-contacts {
    width:33.333%;
}
.social-contacts-item {
    padding:14.5px;
}
.social-contacts-list {
    display:flex;
    flex-wrap:wrap;
    padding:0 20px;
}
.contacts-phone {
    width:33.333%;
    text-align:center;
}
.html-academy-contacts {
    width:33.333%;
    display:flex;
    justify-content:flex-end;
}
.footer-contacts-phone {
    font-size:40px;
    line-height:40px;
    color:var(--black);
}
