@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/ptsans-400.woff2) format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/ptsans-700.woff2) format("woff2");
    font-display: swap;
}
:root {
    --coolLight: #83B3D3;
    --black: #000000;
    --dark: #333333;
    --gray: #e5e5e5;
    --light: #f2f2f2;
    --white: #ffffff;
    --warmLight: #756257;
    --neutralLight: #7DB54F;
    --coolLight_20: hsl(204 48% 67% / 0.2);
    --warmDark: #615048;
    --neutralDark: #6C9E42;
    --coolDark: #68A2CA;
    --coolLight_12: hsl(204 48% 67% / 0.12);
    --error: #FF5757;
    --warning: #FD922E;
    --success: #7DB550;
  }
body {
    margin:0;
    padding:0;
    background-color: var(--gray);
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    line-height: 26px;
}
.container {
    box-shadow:0 4px 4px 0 rgba(0,0,0,0.25);
}
.page-header {
    box-shadow:0 4px 4px 0 rgba(0,0,0,0.25);
    position:relative;
    padding:0 72px;
    z-index:1;
    height:65px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.container {
    display:grid;
    grid-template-rows: min-content 1fr min-content;
    min-height: 100vh;
    width:1200px;
    margin:0 auto;
    background-color: var(--white);
}
.navigation {
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content:space-between;
}
.navigation-list {
    display:flex;
    padding:0;
    flex-wrap:wrap;
    list-style-type:none;
}
.navigation-button {
    display:flex;
    align-items:center;
    justify-content:center;
}
.navigation-user {
    align-items:center;
}
.navigation-link {
    display:block;
    text-decoration:none;
}
.sedona-logo {
    position:absolute;
    top:0;
    left:50%;
    transform:translateX(-50%);
    z-index:2;
}
.search-button {
    background-image:url(../img/search.svg);
    background-repeat:no-repeat;
    background-position: center;
}
.search-button:hover {
    background-image:url(../img/search-hover.svg);
    background-repeat:no-repeat;
    background-position: center;
}
.search-button:focus{
    outline:none;
    padding:10px;
    outline:3px solid var(--coolLight);
    border-radius:10px;
}
.search-button:active {
    background-image:url(../img/search-active.svg);
}
.triangles {
    position:absolute;
    top:428px;
}
.button {
    font-family: "PT Sans", sans-serif;
    border:none;
    font-weight: 700;
    text-transform: uppercase;
    font-size:16px;
    cursor:pointer;
    color:var(--white);
    background-color:transparent;
    border:none;
}
.button-wish {
    padding:9px 34px;
    border-radius:4px;
    background-color:var(--warmLight);
}
.button-wish:hover {
    background-color:var(--warmDark);
}
.button-wish:focus {
    outline:none;
    background-color:var(--warmDark);
    outline:3px solid var(--coolLight);
    border-radius:6px;
}
.button-wish:active {
    background-color:var(--warmDark);
    color:rgba(255,255,255,0.3);
}
.search-button,
.favourites-button {
    background-color:transparent;
    padding:0;
    width:37px;
    height:37px;
}
.favourites-button {
    cursor:pointer;
    position:relative;
    background-image: url(../img/favourites.svg);
    background-repeat:no-repeat;
    background-position:center;
    align-self:center;
    margin-right:24px;
    top:-1px;
}
.number-of-favourites {
    position:absolute;
    font-size:10px;
    font-weight:400;
    background-color:var(--neutralLight);
    height:19px;
    width:19px;
    border-radius:50%;
    margin:0;
    top:1px;
    left:21px;
    text-align:center;
    vertical-align:middle;
    background-position:center;
}
.number-of-favourites::before {
    content: "12";
    position:absolute;
    top:3px;
    left:4px;
}
.favourites-button:hover {
    background-image: url(../img/favourites-hover.svg);
}
.favourites-button:active {
    background-image:url(../img/favourites-active.svg); 
}
.favourites-button:active .number-of-favourites {
    color:rgba(255,255,255,0.3);
}
.favourites-button:focus {
    outline:none;
    outline:3px solid var(--coolLight);
    border-radius:10px;
}
.navigation-item .navigation-link{
    color:var(--black);
    line-height:20px;
}
.navigation-item .navigation-link:hover{
    color:var(--warmLight);
}
.navigation-item .navigation-link:focus {
    color: var(--warmLight);
    outline: 3px solid var(--coolLight);
    border-radius: 10px;
}
.navigation-item .navigation-link:active {
    color: var(--warmLight);
    opacity: 30%;
}
.navigation-list {
    text-align: center;
    padding:14px 0;
    margin:0;
}
.navigation-item {
    padding:0;
    margin-right:33px;
    align-self:center;
}
.navigation-user-item{
    position:relative;
}
.navigation-user-item:nth-of-type(1) {
    margin-right:2px;
}
.popover {
    width:400px; 
    min-height:60px;
    font-size:16px;
    color:var(--black);
    position:absolute;
    z-index:10;
    top:45px;
    left:-150px;
    background-color:var(--white);
    box-sizing: content-box;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    display:none;
}
.popover-content {   
    padding:25px 25px 0 25px;
    border:1px solid var(--gray);
    outline-offset:-1px;
    border-radius:20px;
    border-bottom:none;
}
.popover-close-button {
    width:37px;
    height:37px;
    position:absolute;
    top:-46px;
    border:none;
    background-color:transparent;
    cursor:pointer;
}
.favourites-list {
    padding:0;
    margin:0;
}
.favourites-item {
    display:flex;
    margin-bottom:25px;
    justify-content:space-between;
}
.favourites-item-info {
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    margin-left:17px;
    width:159px;
}
.favourites-item-img-info {
    display:flex;
    cursor:pointer;
}
.favourites-item-img-info:hover .hotel-cart-img {
    opacity:60%;
}
.favourites-item-img-info:hover .favourites-item-title {
    opacity:60%;
}
.favourites-item-img-info:hover .favourites-item-type {
    opacity:50%;
}
.favourites-item-img-info:focus {
    outline:3px solid var(--coolLight);
    padding:10px;
    border-radius:10px;
    margin:0;
}
.favourites-item-img-info:active .hotel-cart-img {
    opacity:40%;
}
.favourites-item-img-info:active .favourites-item-title {
    opacity:40%;
}
.favourites-item-img-info:active .favourites-item-type {
    opacity:30%;
}
.favourites-item-title {
    font-size:18px;
    font-weight:700;
    padding:0;
    width:159px;
    text-align:left;
    margin:0;
}
.favourites-item-type {
    font-size:16px;
    font-weight:400;
    padding:0;
    margin:0;
}
.delete-icon {
    opacity:20%;
}
.delete-button {
    cursor:pointer;
    padding:10px;
    justify-content:space-between;
}
.delete-button:hover .delete-icon{
    opacity:100%;
}
.delete-button:focus {
    outline:3px solid var(--coolLight);
}
.all-favourites-button {
    width:400px;
    height:60px;
    background-color:var(--warmLight);
    border:none;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
}
.all-favourites-button:hover {
    background-color:var(--warmDark);
}
.all-favourites-button:focus {
    background-color:var(--warmDark);
    outline:3px solid var(--coolLight);
}
.all-favourites-button:active .all-favourites-title {
    opacity:30%;
}
.all-favourites-title {
    color:var(--white);
    text-transform:uppercase;
    font-weight:700;
    font-family:"PT Sans", sans-serif;
    font-size:16px;
}
.intro-heading {
    background-image: url(../img/index-background.jpg);
    background-repeat: no-repeat;
    background-size: 1200 485;
    padding-top:51px;
    padding-bottom:83px;
    position:relative;
}
.intro-heading-title-text{
    display:flex;
    flex-direction:column;
    align-items:center;
}
.intro-heading-img-logo {
    display:block;
    margin:0 auto;
}
.intro-heading-title {
    margin:0;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 36px;
    text-align:center;
    width:720px;
    margin-top:63px;
}
.intro-heading-text {
    font-size:22px;
    margin:0;
    margin-top:38px;
    line-height:22px;
    margin-bottom:86px;
}
.reasons-list {
    margin:0;
    padding:0;
    text-align:center;
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows:384px 384px 384px;
    gap:0px;
    list-style-type:none;
}
.reasons-picture {
    grid-column:span 2;
}
.reasons-item:nth-of-type(1) .reasons-item-wrap,
.reasons-item:nth-of-type(7) .reasons-item-wrap {
    background-color: var(--coolDark);
    color: var(--white);
    width:400px;
    height:384px;
}
.reasons-item:nth-of-type(3) .reasons-item-wrap,
.reasons-item:nth-of-type(5) .reasons-item-wrap,
.reasons-item:nth-of-type(8) .reasons-item-wrap,
.reasons-item:nth-of-type(10) .reasons-item-wrap{
    background-color: var(--coolLight_12);
}
.reasons-item:nth-of-type(4) .reasons-item-wrap {
    background-color: var(--white);
}
.reasons-item:nth-of-type(9) .reasons-item-wrap {
    background-color: var(--coolLight_20);
}
.reasons-item {
    margin:0;
    padding:0;
}
.reasons-item-wrap {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    width:400px;
    height:384px;
    position:relative;
}
.reasons-title {
    margin:0;
    font-size:24px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 28px;
    align-self:center;
    margin-top:98px;
}
.reasons-item:nth-of-type(3) .reasons-title,
.reasons-item:nth-of-type(4) .reasons-title,
.reasons-item:nth-of-type(5) .reasons-title {
    margin-top:184px;
}
.reasons-item:nth-of-type(1) .reasons-title {
    width:140px;
}
.reasons-item:nth-of-type(7) .reasons-title {
    width:171px;
}
.reasons-item:nth-of-type(8) .reasons-title {
    width:136px;
}
.reasons-item:nth-of-type(9) .reasons-title {
    width:113px;
}
.reasons-item:nth-of-type(10) .reasons-title {
    width:114px;
}
.reasons-number {
    font-size:18px;
    line-height: 21px;
}
.reasons-description {
    margin:0;
    font-size: 18px;
    line-height:21px;
    width: 220px;
    align-self: center;
    margin-bottom:87px;
    text-align:center;
}
.reasons-item:nth-of-type(8) .reasons-description,
.reasons-item:nth-of-type(9) .reasons-description,
.reasons-item:nth-of-type(10) .reasons-description {
    width:250px;
    margin-bottom:109px;
}
.reasons-item:nth-of-type(3) .reasons-description {
    width:172px;
}
.reasons-item:nth-of-type(4) .reasons-description {
    width:250px;
}
.reasons-item:nth-of-type(5) .reasons-description {
    width:250px;
}
.reasons-item:nth-of-type(3) .reasons-description,
.reasons-item:nth-of-type(4) .reasons-description,
.reasons-item:nth-of-type(5) .reasons-description {
    margin-bottom:89px;
}
.subreason-1,
.subreason-2, 
.subreason-3 {
    position:absolute;
    top:89px;
}
.subreason-1 {
    left:163.2px;
}
.subreason-2 {
    left:163px;
    top:92px;
}
.subreason-3 {
    left:168px;
    top:86px;
}
.hotel-search {
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding:91px 0;
}
.hotel-search-text {
}
.hotel-search-question {
    margin:0;
    font-size: 30px;
    text-transform: uppercase;
    line-height: 31px;
    font-weight: 700;
    margin:0;
    text-align:center;
    height:50px;
    margin-bottom:15px;
}
.hotel-search-suggestions {
    margin:0;
    font-size:22px;
    line-height:26px;
    text-align:center;
    width:592px;
    align-self:center;
    margin-bottom:58px;
}
.search-button-wrap {
    padding:17px 150px;
    border-radius:10px;
    background-color:var(--warmLight);
    align-self:center;
    font-size:20px;
}
.search-button-wrap:hover {
    background-color:var(--warmDark);
}
.search-button-wrap:focus {
    background-color:var(--warmDark);
    outline:none;
    outline:3px solid var(--coolLight);
}
.search-button-wrap:active {
    background-color:var(--warmDark);
    color:rgba(255,255,255,0.3);
}
.mailing {
    background-image: url(../img/mailing.jpg);
    background-repeat: no-repeat;
    color: white;
    padding:94px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.mailing-form {
    margin:0;
    display:flex;
    margin-top:48px;
}
.mailing-catalog {
    padding:57px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding-bottom:134px;
}
.mailing-title {
    margin:0;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 33px;
}
.mailing-description {
    margin:0;
    font-size:22px;
    line-height:26px;
    width:467px;
    text-align:center;
    margin-top:32px;
}
.mailing-button {
    background-color:var(--coolLight);
    padding:16px;
    border-bottom-right-radius:10px;
    border-top-right-radius:10px;
    margin:0;
    width:200px;
    font-size:20px;
}
.mailing-button:hover {
    background-color:var(--coolDark);
}
.mailing-button:focus {
    outline:none;
    background-color:var(--coolDark);
    outline:3px solid var(--warmDark);
}
.mailing-button:active {
    background-color:var(--coolDark);
    color:rgba(255,255,255,0.3);
}
.email {
    font-family: "PT Sans", sans-serif;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border:none;
    background-color:var(--light);
    width:578px;
    height:58px;
    font-size:18px;
    padding-left:22px;
}
.email:hover {
    background-color:var(--gray);
}
.email:focus {
    outline:none;
    border:3px solid var(--coolLight);
}
.email:active {
    background-color:var(--white);
    border:2px solid var(--black);
}
.filters {
    background: var(--coolDark) url(../img/bg_catalog_1.jpg) no-repeat;
    background-size: 1200px 408px;
    color: var(--white);
}
.filters-header-title {
    font-size: 60px;
    font-weight: 700;
    padding:0;
    margin:0;
    /* padding-left:71px;
    padding-top:55px;
    padding-right:601px; */
    padding-top:62px;
    padding-left:71px;
}
.breadcrumbs {
    display:flex;
    margin:0;
    padding:0;
    list-style-type:none;
    margin-top:17px;
    margin-left:73px;
    position:relative;
}
.main-page-link {
    text-decoration:none;
}
.arrow {
    margin-left:8px;
    margin-right:9px;
}
.breadcrumbs-item .visually-hidden {
    color: var(--white);
    font-size:16px;
    line-height:auto;
} 
.breadcrumbs-item a {
    color: var(--white);
    font-size:16px; 
}
.current-page-link {
    text-decoration:none;
}
.filters-block {
    display:flex;
    padding-top:43px;
    padding-bottom:75px;
}
.catalog-filter-list {
    list-style-type:none;
    padding:0;
    margin:0;
    margin-left:1px;
}
.housing-type-block-list {
    list-style-type:none;
    padding:0;
    margin:0;
}
.infrastructure-block, .housing-type-block, .cost-block, .seaech-actions {
    display:flex;
    flex-direction:column;
}
.check {
    position:relative;
}
.check-label {
    margin-left:39px;
    cursor:pointer;
}
.check::before {
    content:"";
    height:20px;
    width:20px;
    border-radius:4px;
    position:absolute;
    transform:translateY(-50%);
    top:50%;
    left:0;
    cursor:pointer;
    background-color:var(--white);
}
.check-input:hover +.check::before {
    background-color:rgba(255,255,255,0.6);
}
.check-input:focus + .check::before {
    border:3px solid rgba(131, 179, 211,0.6);
    background-color:rgba(255,255,255,0.6);
    outline:none;
    border-radius:4px;
    box-sizing: border-box;
}
.check-input:active +.check::before {
    background-color:rgba(255,255,255,0.3);
}
.check-input:checked + .check::before {
    background-image:url(../img/tick.svg);
    background-repeat:no-repeat;
    background-position:center;
}
.check-input:checked:hover + .check::before {
    background-image:url(../img/tick.svg);
    background-repeat:no-repeat;
    background-position:center;
    background-color:rgba(255,255,255,0.6);
}
.check-input:checked:focus +.check::before { 
    border:3px solid rgba(131, 179, 211,0.6);
    background-color:rgba(255,255,255,0.6);
    outline:none;
    border-radius:4px;
    box-sizing: border-box;
}
.check-input:checked:active +.check::before { 
    background-image:url(../img/tick.svg);
    background-repeat:no-repeat;
    background-position:center;
    background-color:rgba(255,255,255,0.3);
}
.infrastructure-title, .housing-type-title, .cost-title {
    font-size:20px;
    font-weight:700;
    margin:0;
}
.infrastructure-block {
    padding-left:71px;
}
.housing-type-block {
    padding-left:67px;
}
.housing-type-block-list {
    margin-left:1px;
}
.housing-type-item:nth-of-type(1) {
    margin-top:27px;
}
.housing-type-item:nth-of-type(2) {
    margin-top:11px;
}
.housing-type-item:nth-of-type(3) {
    margin-top:9px;
}
.radio {
    position:relative;
}
.radio::before {
    content:"";
    width:20px;
    height:20px;
    border-radius:50%;
    background-color:white;
    position:absolute;
    transform: translateY(-50%);
    top: 50%;
    cursor:pointer;
}
.radio-input:focus +.radio::before {
    outline: 3px solid var(--coolLight);
    outline-offset:-3px;
}
.radio-input:checked +.radio::before {
    background-image:url(../img/radio.svg);
    background-repeat:no-repeat;
    background-position:center;
}
.radio-input:checked:focus +.radio::before {
    border:3px solid var(--coolLight);
}
.radio-label {
    margin-left:39px;
    cursor:pointer;
}
.cost-block {
    padding-left:167px;
}
.check-label, .radio-label {
    font-size:18px;
}
.swimmingpool, .hotel {
    padding:0;
    margin:0;
    margin-top:28px;
}
.radio-hotel-type, .checkbox {
    cursor: pointer;
}
.parking, .motel {
    margin-top:10px;
}
.wifi {
    margin-top:9px;
}
.range {
    margin-top:34px;
    display:flex;
    flex-direction:column;
}
.range-wrapper-inputs {
    display:flex;
}
.min,.max {
    margin:0;
    background:transparent;
    border:2px solid var(--white);
    width:141.5px;
}
input[placeholder="от"],input[placeholder="до"] {
    text-align:right;
    font-size:18px;
    color:rgba(255,255,255,0.3)
}
input[placeholder="от"] {
    padding-right:14px;
    width:126px;
    height:19px;
}
input[placeholder="до"] {
    padding-right:17px;
    width:124px;
    height:19px;
}
.min {
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
    padding-top:13px;
    padding-bottom:13px;
}
.min:hover{
    border:2px solid rgba(255,255,255,0.6);
}
.max:hover {
    border:2px solid rgba(255,255,255,0.6);
    border-left:none;
}
.min:focus, .max:focus {
    outline:none;
    box-shadow:0 0 0 3px var(--coolLight),
            inset 0 0 0  3px var(--coolLight);
}
.min:active, .max:active {
    background-color:var(--warmLight);
}
.max {
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
    border-left:none;
    padding-top:13px;
    padding-bottom:13px;
}
.range-scale {
    position:relative;
    height:4px;
    background-color:rgba(255,255,255,0.3);
    margin-top:28px;
    margin-left:3px;
}
.range-bar {
    position:absolute;
    height:4px;
    background-color:var(--white);
    width:227px;
}
.price-toggle {
    background-color:var(--white);
    border:none;
    border-radius:5px;
    width:20px;
    height:20px;
    position:relative;
    top:-16px;
}
.price-toggle:hover {
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.25);
}
.price-toggle:active {
    border:3px solid var(--coolLight);
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.25);
}
.price-toggle::focus {
    border:2px solid var(--coolLight);
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.25);
}
.max-toggle {
    left:190px;
}
.search-actions-buttons {
    display:flex;
    flex-direction:column;
    margin:0;
    justify-content:flex-end;
    margin-left:80px;
    margin-right:37px;
    padding-top:60px;
}
.button-apply {
    padding:14px 35px;
    border-radius:4px;
    background-color:var(--coolLight);
}
.button-apply:hover {
    background-color:var(--coolDark);
}
.button-apply:focus {
    background-color:var(--coolDark);
    outline:none;
    outline:3px solid var(--white);
}
.button-apply:active {
    background-color:var(--coolDark);
    color:rgba(255,255,255,0.3);
}
.button-reset {
    background-color: transparent;
    text-transform:none;
    font-weight:400;
    margin-bottom:7px;
    margin-top:18px;
    width:91px;
    align-self:center;
    font-size:18px;
}
.button-reset:hover {
    color:rgba(255,255,255,0.6);
}
.button-reset:focus {
    outline:3px solid var(--coolLight);
    border-radius:4px;
}
.button-reset:active {
    color:rgba(255,255,255,0.3);
}
.results {
    display:flex;
    margin: 44px 72px;
}
.sorting-form {
    padding:0;
}
.sorting-wrap {
    align-self:center;
    margin-left:178px;
}
.sorting {
    font-family: "PT Sans",sans-serif;
    padding-left:14px;
    padding-bottom:2px;
    border:1px solid var(--gray);
    align-self:center;
    width:287px;
    height:48px;
    border-radius:4px;
    cursor:pointer;
    font-size:18px;
}
.cheap,.popular,.expensive {
    cursor:pointer;
}
.results-view-list {
    display:flex;
    margin:0;
    margin-left:75px;
    list-style-type:none;
    padding:0;
}
.view-button {
    border:2px solid var(--gray);
    border-radius:4px;
    padding:12px 12px;
    box-shadow:0 4px 4px 0 rgba(0,0,0,0.25);
    margin-left:7px;
}
.button-list {
    border:2px solid var(--black);
}
.results-view-item {
    margin-right:3px;
}
.results-view-item:nth-of-type(1) .view-button {
    padding:13px 12px;
}
.results-view-item:nth-of-type(2) .view-button {
    padding:13px 14px;
}
.count-results {
    color:var(--black);
    font-size:30px;
    margin:0;
    margin-top:1px;
    font-weight:700;
    text-transform:uppercase;
    align-self:center;
    width:350px;
    padding:0;
}
.hotels-list {
    list-style-type:none;
    padding:0;
    margin:0;
}
.hotels-item {
    display:flex;
    border-top:1px solid var(--gray);
    padding:30px 0;
    margin:-4px 72px;
}
.hotels-item:nth-of-type(1) .hotel-cost-type,
.hotels-item:nth-of-type(2) .hotel-cost-type{
    margin-left:-4px;
}
.hotels-item:nth-of-type(4) {
    border-bottom:1px solid var(--gray);
    padding-bottom:30px;
}
.hotels-item:nth-of-type(2),
.hotels-item:nth-of-type(3),
.hotels-item:nth-of-type(4) {
    margin-top:3px;
}
.hotels-item-info {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    width:325px;
}
.hotels-item-info-column {
    display:flex;
    flex-direction:column;
}
.hotel-type-cost {
    display:flex;
}
.hotel-name {
    font-size:24px;
    font-weight:700;
    margin:0;
    width:322px;
}
.hotel-image {
    margin-right:36px;
}
.hotel-type,.hotel-cost {
    font-size:18px;
}
.hotel-cost-type {
    position:relative;
    left:83px;
}
.hotels-item:nth-of-type(4) .hotel-cost-type {
    left:79px;
}
.motel-cost-type {
    position:relative;
    left:102px;
}
.apartment-cost-type {
    position:relative;
    left:54px;
}
.buttons {
    margin-top:31px;
    width:340px;
}
.favourites-button-catalog {
    background-color:var(--coolLight);
    margin-left:8px;
    border-radius:4px;
    padding:7px 30px;
}
.favourites-button-catalog:hover {
    background-color:var(--coolDark);
    border:1px solid var(--warmLight);
    outline-offset:-1px;
    padding:6px 29px;
}
.favourites-button-catalog:focus {
    outline:none;
    background-color:var(--coolDark);
    outline:3px solid var(--warmLight);
    box-sizing:border-box;
}
.favourites-button-catalog:active {
    color:rgba(255,255,255,0.3);
    background-color:var(--coolDark);
}
.in-favourites-button {
    margin-left:8px;
    padding:7px 28px;
    border-radius:4px;
    background-color:var(--neutralLight);
}
.in-favourites-button:hover {
    background-color:var(--neutralDark);
}
.in-favourites-button:focus {
    outline:none;
    background-color:var(--neutralDark);
    outline:3px solid var(--warmLight);
    box-sizing: border-box;
}
.in-favourites-button:active {
    background-color:var(--neutralDark);
    color:rgba(255,255,255,0.3);
}
.details-button {
    padding:9px 32px;
    border-radius:4px;
    background-color:var(--warmLight);
}
.details-button:hover {
    background-color:var(--warmDark);
}
.details-button:focus {
    outline:none;
    background-color:var(--warmDark);
    outline:3px solid var(--coolLight);
    box-sizing:border-box;
}
.details-button:active {
    color:rgba(255,255,255,0.3);
    background-color:var(--warmDark);
}
.rating {
    margin-left:auto;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}
.rating-stars {
    align-self:center;
}
.rating-score {
    color:var(--dark);
    font-size:16px;
    text-transform:uppercase;
    background-color:var(--light);
    width:95px;
    padding:7px 32px;
    border-radius:4px;
}
.number-products-form {
    width:160px;
}
.number-products {
    font-family: "PT Sans", sans-serif;
    display:flex;
    margin-left:301px
}
.number-of-products {
    width:175px;
    align-self:center;
    font-size:18px;
    margin-top:14px;
}
.number-products-select {
    width:160px;
    border:2px solid var(--gray);
    border-radius:4px;
    margin-left:51px;
    padding-left:11px;
    height:49px;
    margin-top:2px;
    font-size:18px;
}
.load-more {
    display:flex;
    justify-content:center;
    margin:auto;
    width:1056px;
    border-bottom:1px solid var(--gray);
}
.load-more-button {
    width:625px;
    padding:15px 240px;
    background-color:var(--coolLight);
    border-radius:4px;
    margin:32px 215.5px;
    font-size:20px;
}
.load-more-button:hover {
    background-color:var(--coolDark);
}
.load-more-button:focus {
    outline:none;
    background-color:var(--coolDark);
    border:3px solid var(--warmLight);
    padding:12px 237px;
}
.load-more-button:active {
    background-color:var(--coolDark);
    color:rgba(255,255,255,0.3);
}
.pagination {
    display:flex;
    justify-content:space-between;
    width:369px;
}
.pages-hotels {
    display:flex;
    justify-content:space-between;
    width:1056px;
    margin:29px 72px;
}
.current-page-link {
    color:var(--black);
}
.page-link {
    color:var(--white);
}
.button-link {
    border-radius:4px;
    padding:0;
    padding:14px 22px;
    margin:0;
    background-color:var(--coolLight);
    border:none;
    margin-right:7px;
    font-size:20px;
}
.page-item:nth-of-type(5) .button-link {
    padding:14px 20px;
}
.page-item:nth-of-type(6) .button-link {
    padding:14px 16px;
}
.button-link:hover {
    background-color:var(--coolDark);
}
.button-link:focus {
    outline:none;
    outline:3px solid var(--warmLight);
    box-sizing: border-box;
}
.button-link:active {
    background-color:var(--coolDark);
    color:rgba(255,255,255,0.3);
}
.current-page {
    padding:14px 22px;
    border-radius:4px;
    background-color:var(--light);
    color:var(--black);
    margin-right:8px;
}
.current-page:hover {
    background-color:var(--gray);
}
.current-page:active {
    color:var(--black);
}
li.current-page, li.page {
    margin:0;
}
.all-pages {
    display:flex;
    margin:0;
    margin-right:301px;
    list-style-type:none;
    padding:0;
}
.page-footer {
    display:flex;
    padding:40px 72px;
    justify-content:center;
    box-shadow:0 4px 4px 0 rgba(0,0,0,0.25);
}
.social-contacts {
    width:33.333%;
    align-self:center;
}
.social-contacts-item {
    padding:14.5px;
}
.social-contacts-list {
    display:flex;
    flex-wrap:wrap;
    padding:0;
    margin:0;
    list-style-type:none;
}
.social-contacts-item {
    cursor:pointer;
}
.social-contacts-item:nth-of-type(1){
    background-image:url(../img/social-twitter.svg);
    background-repeat:no-repeat;
    background-position:center;
    margin-right:8px;
    margin-left:-4px;
}
.social-contacts-item:nth-of-type(1):hover {
    background-image:url(../img/twitter-hover.svg);
    background-repeat:no-repeat;
    background-position:center;
}
.social-contacts-item:nth-of-type(1):focus {
    border:3px solid var(--coolLight);
    border-radius:10px;
}
.social-contacts-item:nth-of-type(1):active {
    opacity:30%;
}
.social-contacts-item:nth-of-type(2) {
    background-image:url(../img/social-facebook.svg);
    background-repeat:no-repeat;
    background-position:center;
    margin-right:22px;
    margin-left:4px;
}
.social-contacts-item:nth-of-type(2):hover {
    background-image:url(../img/fb-hover.svg);
    background-repeat:no-repeat;
    background-position:center;
} 
.social-contacts-item:nth-of-type(2):focus {
    border:3px solid var(--coolLight);
    border-radius:10px;
}
.social-contacts-item:nth-of-type(2):active {
    opacity:30%;
}
.social-contacts-item:nth-of-type(3) {
    background-image:url(../img/social-youtube.svg);
    background-repeat:no-repeat;
    background-position:center;
    margin-left:-5px;
}
.social-contacts-item:nth-of-type(3):hover {
    background-image:url(../img/yt-hover.svg);
    background-repeat:no-repeat;
    background-position:center;
}
.social-contacts-item:nth-of-type(3):focus {
    border:3px solid var(--coolLight);
    border-radius:10px;
}
.social-contacts-item:nth-of-type(3):active {
    opacity:30%;
}
.contacts-phone {
    width:33.333%;
    text-align:center;
}
.html-academy-contacts {
    width:33.333%;
    display:flex;
    justify-content:flex-end;
    margin-top:5px;
}
.footer-contacts-phone {
    font-size:40px;
    line-height:40px;
    color:var(--black);
    text-decoration:none;
}
.modal-container {
    position:fixed;
    background-color:rgba(242,242,242,0.8);
    display:flex;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:3;
    display:none;
}
.modal {
    position:relative;
    margin:auto;
    padding:54px 70px 70px 70px;
    background-color:var(--white);
    border-radius:30px;
}
.modal-search {
    width:575px;
    position:relative;
}
.modal-close-button {
    background-image: url(../img/modal_close_button.svg);
    width:53px;
    height:53px;
    background-repeat:no-repeat;
    background-position:center;
    border:none;
    border-radius:50%;
    position:absolute;
    top:54px;
    left:592px;
}
.buttons {
    display:flex;
}