@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/ptsans-400.woff2) format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/ptsans-700.woff2) format("woff2");
    font-display: swap;
}
:root {
    --bodyBackgroundColor: #FFF;
    --coolLight: #83B3D3;
    --black: #000000;
    --dark: #333333;
    --gray: #e5e5e5;
    --light: #f2f2f2;
    --white: #ffffff;
    --warmLight: #756257;
    --neutralLight: #7DB54F;
    --coolLight_20: hsl(204 48% 67% / 0.2);
    --warmDark: #615048;
    --neutralDark: #6C9E42;
    --coolDark: #68A2CA;
    --coolDark_12: hsl(204 48% 67% / 0.12);
    --error: #FF5757;
    --warning: #FD922E;
    --success: #7DB550;
  }
html {
    height: 100%;    
}
body {
    margin:0;
    background-color: var(--bodyBackgroundColor);
    display:flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    line-height: 26px;
}
.page-footer {
    margin-top:auto;
}
.main-container {
    flex-grow:1;
}
.navigation {
    font-size: 20;
    font-weight: 700;
    display: flex;
    width: 1057px;
    margin: 0 auto;
}
.navigation-list {
    margin:0;
    padding:0;
    width:350px;
}
.navigation-user {
    max-width:350px;
    margin-left:auto;
}
a {
    text-decoration:none;
    color: black
}
ul,ol {
    list-style-type: none;
}
.button {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size:16px;
    line-height:auto;
}
.navigation a{
    color:var(--black);
}
.navigation a:hover{
    color:var(--warmLight);
}
.navigation a:focus {
    color: var(--warmLight);
    border: 3px solid var(--coolLight);
    border-radius: 10px;
}
.navigation a:active {
    color: var(--warmLight);
    opacity: 30%;
}
.navigation-list {
    text-align: center;
}
.intro-heading {
    background-image: url(../img/index-background.jpg);
    background-repeat: no-repeat;
    background-size: 1200 485;
}
.intro-heading-title {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 36px;
}
.intro-heading-text {
    font-size:22px;
}
.reasons-item-inner {
    background-color: var(--coolDark);
    color: var(--white);
}
.reasons-title {
    font-size:24px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 28px;
}
.reasons-number {
    font-size:18px;
    line-height: 21px;
}
.reasons-description {
    font-size: 18px;
    line-height:21px;
}
.subreasons-item-first-third {
    background-color: var(--coolDark_12);
}
.subreasons-item {
    background-color: var(--white);
}
.subreasons-title {
    font-size: 24px;
    line-height:28px;
    font-weight:700;
}
.subreasons-description {
    font-size: 18px;
    line-height: 21px;
}
.reasons-item-third-fifth {
    background-color: var(--coolDark_12);
}
.reasons-item-fourth {
    background-color: var(--coolLight_20);
}
.hotel-search-question {
    font-size: 30px;
    text-transform: uppercase;
    line-height: 36px;
    font-weight: 700;
}
.hotel-search-suggestions {
    font-size:22px;
    line-height:26px;
}
.mailing {
    background-image: url(../img/mailing.jpg);
    background-repeat: no-repeat;
    color: white;
}
.mailing-title {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 36px;
}
.mailing-description {
    font-size:22px;
    line-height:26px;
}
.email {
    font-family: "PT Sans", sans-serif;
}
.filters {
    padding: 10px;
    background: var(--coolDark) url(../img/bg_catalog_1.jpg) no-repeat;
    color: var(--white);
}
.filters-header-title {
    font-size: 60px;
    line-height: auto;
    font-weight: 700;
}
.breadcrumbs-item .visually-hidden {
    color: var(--white);
    font-size:16px;
    line-height:auto;
} 
.breadcrumbs-item a {
    color: var(--white);
    font-size:16px;
    line-height:auto;   
}
.search-fieldset-title {
    font-size:20px;
    font-weight:700;
    line-height:auto;
}
.infrastructure,.housing-type {
    font-size:18px;
    line-height:auto;
}
.count-results {
    color:var(--black);
    font-size:30px;
    line-height:auto;
    font-weight:700;
    text-transform:uppercase;
}
.sorting {
    font-family: "PT Sans",sans-serif;
}
.hotel-name {
    font-size:24px;
    font-weight:700;
    line-height:auto;
}
.hotel-type,.hotel-cost {
    font-size:18px;
    line-height:auto;
}
.rating-score {
    color:var(--dark);
    font-size:16px;
    line-height:auto;
    text-transform:uppercase;
}
.number-products {
    font-family: "PT Sans", sans-serif;
}
.footer-contacts-phone {
    font-size:40px;
    line-height:40px;
}
